body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 65px;
  width: 100%;
  background-color: red;
}

.parent-container{
  display: flex;
}

.sidebar{
  width: 270px;
  background-color: orange;
  height: calc(100vh - 65px);
}

.sidebar ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.sidebar ul li{
  border-bottom: 1px solid white;
  padding: 10px;
  text-align: center;
}

.sidebar ul li a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.mybtn{
  height: 40px;
}

.mydiv{
  border: 1px solid red;
  background-color: gray;
  height: 200px;
  width: 50%;
}

.mydiv2{
  border: 1px solid red;
  background-color: yellow;
  height: 200px;
  width: 50%;
}

.myheading{
  background-color: darkslategray;
  color: white;
  padding: 10px;
  font-size: 22px;
}

.register-form{
  display: flex;
  justify-content: center;
}

.register-form div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}